div {
    width: 20%;
    height: 20%;
    border-radius: 1px black solid;
    border-radius: 8px;
    text-align: center;
    background-color: blanchedalmond;

}

div h2{
    
    padding-bottom: 40px;;
}

div img{
    height: 70%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    /* width 100% and object fit have the same effect */
    width: 100%;
    /* object-fit: contain; */

}

.darkmode{
    background-color: rgb(50, 52, 53);
    color: violet;
}

.bright{
    background-color: white;
    color: black;
}

#darkModeBtn{
    right: 0; 
    top: 0; 
    position: fixed;

}



